# Very detailed info
ansible multi -m setup

# Check hostnames
ansible multi -a "hostname" -f 50

# Check disk-space
ansible multi -a "df -h"

# Check RAM usage
ansible multi -a "free -h"

# Check that date/time is correct
ansible multi -a "date"

# Check that service is running
ansible multi -b -m service -a "name=chronyd state=started enabled=yes"
